driver/src/org/xframium/driver/xsd/xFramiumDriver.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="http://xframium.org/xsl/xs3p.xsl"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.xframium.org/xFramiumDriver" xmlns:tns="http://www.xframium.org/xFramiumDriver" elementFormDefault="qualified">
  <annotation>
    <documentation xml:lang="en">
      xFramium Driver Definition
    </documentation>
  </annotation>

  <element name="xFramium" type="tns:xFramiumRoot" />

  <complexType name="xFramiumRoot">
  
    <sequence>
      <element name="cloud" type="tns:xCloud" minOccurs="1" maxOccurs="1" />
      <element name="application" type="tns:xApplication" minOccurs="1" maxOccurs="1" />
      <element name="devices" type="tns:xDevices" minOccurs="1" maxOccurs="1" />
      <element name="driver" type="tns:xDriver" minOccurs="1" maxOccurs="1" />
      <element name="model" type="tns:xModel" minOccurs="1" maxOccurs="1" />
      <element name="suite" type="tns:xSuite" minOccurs="1" maxOccurs="1" />
      <element name="content" type="tns:xContent" minOccurs="0" maxOccurs="1" />
      <element name="data" type="tns:xData" minOccurs="0" maxOccurs="1" />
      <element name="proxy" type="tns:xProxy" minOccurs="0" maxOccurs="1" />
      <element name="security" type="tns:xSecurity" minOccurs="0" maxOccurs="1" />
    </sequence>
  </complexType>

  <complexType name="xSecurity">
    <attribute name="secureCloud" type="boolean" use="optional" default="false" />
  </complexType>

  <complexType name="xProxy">
  	<simpleContent>
		<extension base="string">
    		<attribute name="proxyHost" type="string" use="optional" />
    		<attribute name="proxyPort" type="string" use="optional" />
    		<attribute name="proxyIgnoreHost" type="string" use="optional" />
    	</extension>
    </simpleContent>
  </complexType>
  
  <complexType name="xDevices">
    <sequence>
      <element name="device" type="tns:xDevice" minOccurs="0" maxOccurs="unbounded" />
    </sequence>
    <attribute name="fileName" type="string" use="optional" />
    <attribute name="provider" use="optional" default="LOCAL">
      <simpleType>
        <restriction base="string">
          <enumeration value="PERFECTO_PLUGIN" />
          <enumeration value="RESERVED" />
          <enumeration value="AVAILABLE" />
          <enumeration value="NAMED" />
          <enumeration value="XML" />
          <enumeration value="SQL" />
          <enumeration value="CSV" />
          <enumeration value="EXCEL" />
          <enumeration value="LOCAL" />
        </restriction>
      </simpleType>
    </attribute>
  </complexType>

  <complexType name="xDevice">
    <sequence>
      <element name="capability" type="tns:xDeviceCapability" minOccurs="0" maxOccurs="unbounded" />
      <element name="objectCapability" type="tns:xObjectDeviceCapability" minOccurs="0" maxOccurs="unbounded" />
    </sequence>
    <attribute name="name" type="string" use="required" />
    <attribute name="manufacturer" type="string" use="required" />
    <attribute name="model" type="string" use="required" />
    <attribute name="os" type="string" use="optional" />
    <attribute name="id" type="string" use="optional" />
    <attribute name="osVersion" type="string" use="optional" />
    <attribute name="browserName" type="string" use="optional" />
    <attribute name="browserVersion" type="string" use="optional" />
    <attribute name="active" type="boolean" use="optional" default="true" />
    <attribute name="availableDevices" type="integer" use="optional" default="1" />
    <attribute name="cloud" type="string" use="optional" />
    <attribute name="driverType" use="optional">
		<simpleType>
			<restriction base="string">
				<enumeration value="APPIUM" />
				<enumeration value="WEB" />
				<enumeration value="PERFECTO" />
			</restriction>
		</simpleType>
	</attribute>
  </complexType>

  <complexType name="xContent">
    <attribute name="fileName" type="string" use="optional" />
    <attribute name="provider" use="optional" default="EXCEL">
      <simpleType>
        <restriction base="string">
          <enumeration value="XML" />
          <enumeration value="SQL" />
          <enumeration value="CSV" />
          <enumeration value="EXCEL" />
        </restriction>
      </simpleType>
    </attribute>
  </complexType>

  <complexType name="xData">
    <attribute name="fileName" type="string" use="optional" />
    <attribute name="provider" use="optional" default="XML">
      <simpleType>
        <restriction base="string">
          <enumeration value="XML" />
          <enumeration value="SQL" />
          <enumeration value="CSV" />
          <enumeration value="EXCEL" />
        </restriction>
      </simpleType>
    </attribute>
  </complexType>

  <complexType name="xApplication">
    <sequence>
      <element name="capability" type="tns:xDeviceCapability" minOccurs="0" maxOccurs="unbounded" />
      <element name="objectCapability" type="tns:xObjectDeviceCapability" minOccurs="0" maxOccurs="unbounded" />
    </sequence>
    <attribute name="fileName" type="string" use="optional" />
    <attribute name="provider" use="optional" default="LOCAL">
      <simpleType>
        <restriction base="string">
          <enumeration value="XML" />
          <enumeration value="SQL" />
          <enumeration value="CSV" />
          <enumeration value="EXCEL" />
          <enumeration value="LOCAL" />
        </restriction>
      </simpleType>
    </attribute>
    <attribute name="name" type="string" use="required" />
    <attribute name="appPackage" type="string" use="optional" />
    <attribute name="bundleId" type="string" use="optional" />
    <attribute name="url" type="string" use="optional" />
    <attribute name="iosInstall" type="string" use="optional" />
    <attribute name="androidInstall" type="string" use="optional" />
  </complexType>

  <complexType name="xDriver">
    <sequence>
      <element name="property" type="tns:xProperty" minOccurs="0" maxOccurs="unbounded" />
      <element name="propertyAdapter" type="tns:xPropertyAdapter" minOccurs="0" maxOccurs="unbounded" />
      <element name="artifact" type="tns:xArtifact" minOccurs="0" maxOccurs="unbounded" />
      <element name="library" type="tns:xLibrary" minOccurs="0" maxOccurs="unbounded" />
    </sequence>
    <attribute name="type" use="required">
      <simpleType>
        <restriction base="string">
          <enumeration value="APPIUM" />
          <enumeration value="WEB" />
          <enumeration value="PERFECTO" />
        </restriction>
      </simpleType>
    </attribute>
    <attribute name="personas" type="string" use="optional" />
    <attribute name="cachingEnabled" type="boolean" use="optional" default="false" />
    <attribute name="stepTags" type="string" use="optional" />
    <attribute name="testNames" type="string" use="optional" />
    <attribute name="tagNames" type="string" use="optional" />
    <attribute name="embeddedServer" type="boolean" use="optional" default="false" />
    <attribute name="dryRun" type="boolean" use="optional" default="false" />
    <attribute name="displayResults" type="boolean" use="optional" default="true" />
    <attribute name="outputFolder" type="string" use="required" />
  </complexType>

  <complexType name="xLibrary">
    <attribute name="name" use="required" />
    <attribute name="className" use="required" />
  </complexType>

  <complexType name="xArtifact">
    <attribute name="type" use="required">
      <simpleType>
        <restriction base="string">
          <enumeration value="EXECUTION_REPORT_PDF" />
          <enumeration value="EXECUTION_REPORT_HTML" />
          <enumeration value="EXECUTION_REPORT_XML" />
          <enumeration value="EXECUTION_REPORT_CSV" />
          <enumeration value="FAILURE_SOURCE" />
          <enumeration value="WCAG_REPORT" />
          <enumeration value="DEVICE_LOG" />
          <enumeration value="EXECUTION_RECORD_HTML" />
          <enumeration value="EXECUTION_RECORD_CSV" />
          <enumeration value="CONSOLE_LOG" />
          <enumeration value="REPORTIUM" />
          <enumeration value="DEBUGGER" />
        </restriction>
      </simpleType>
    </attribute>
    <attribute name="active" type="boolean" use="optional" default="true" />
  </complexType>

  <complexType name="xProperty">
    <simpleContent>
      <extension base="string">
        <attribute name="name" type="string" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <complexType name="xPropertyAdapter">
    <simpleContent>
      <extension base="string">
        <attribute name="className" type="string" use="required" />
      </extension>
    </simpleContent>
  </complexType>

  <complexType name="xDeviceCapability">
    <simpleContent>
      <extension base="string">
        <attribute name="name" type="string" use="required" />
        <attribute name="class" default="STRING">
          <simpleType>
            <restriction base="string">
              <enumeration value="BOOLEAN" />
              <enumeration value="OBJECT" />
              <enumeration value="PLATFORM" />
              <enumeration value="STRING" />
            </restriction>
          </simpleType>
        </attribute>
      </extension>
    </simpleContent>
  </complexType>

  <complexType name="xCloud">
    <attribute name="provider" use="optional" default="LOCAL">
      <simpleType>
        <restriction base="string">
          <enumeration value="XML" />
          <enumeration value="SQL" />
          <enumeration value="CSV" />
          <enumeration value="EXCEL" />
          <enumeration value="LOCAL" />
        </restriction>
      </simpleType>
    </attribute>
    <attribute name="fileName" type="string" use="optional" />
    <attribute name="name" type="string" use="required" />
    <attribute name="hostName" type="string" use="optional" />
    <attribute name="userName" type="string" use="optional" />
    <attribute name="password" type="string" use="optional" />
    <attribute name="proxyHost" type="string" use="optional" />
    <attribute name="proxyPort" type="integer" use="optional" default="0" />
    <attribute name="proxyUser" type="string" use="optional" />
    <attribute name="proxyPassword" type="string" use="optional" />
    <attribute name="grid" type="string" use="optional" />
    <attribute name="providerType" type="string" use="optional" default="PERFECTO" />
    <attribute name="gesture" type="string" use="optional" />
    <attribute name="deviceAction" type="string" use="optional" />
  </complexType>

  <complexType name="xPage">
    <sequence>
      <element name="element" type="tns:xElement" minOccurs="0" maxOccurs="unbounded" />
    </sequence>
    <attribute name="name" type="string" use="required" />
    <attribute name="class" type="string" use="optional" />
  </complexType>

  <complexType name="xElement">
    <attribute name="name" type="string" use="required" />
    <attribute name="descriptor" use="required">
      <simpleType>
        <restriction base="string">
          <enumeration value="XPATH" />
          <enumeration value="CLASS" />
          <enumeration value="CSS" />
          <enumeration value="ID" />
          <enumeration value="LINK_TEXT" />
          <enumeration value="NAME" />
          <enumeration value="TAG_NAME" />
          <enumeration value="V_TEXT" />
          <enumeration value="V_IMAGE" />
          <enumeration value="HTML" />
        </restriction>
      </simpleType>
    </attribute>
    <attribute name="value" type="string" use="required" />
    <attribute name="contextName" type="string" use="optional" />
  </complexType>

  <complexType name="xSuite">
    <sequence>
      <element name="test" type="tns:xTest" minOccurs="0" maxOccurs="unbounded" />
      <element name="function" type="tns:xTest" minOccurs="0" maxOccurs="unbounded" />
    </sequence>
    <attribute name="fileName" type="string" use="optional" />
    <attribute name="provider" use="optional" default="LOCAL">
      <simpleType>
        <restriction base="string">
          <enumeration value="XML" />
          <enumeration value="EXCEL" />
          <enumeration value="LOCAL" />
        </restriction>
      </simpleType>
    </attribute>
  </complexType>

  <complexType name="xModel">
    <sequence>
      <element name="page" type="tns:xPage" minOccurs="0" maxOccurs="unbounded" />
    </sequence>
    <attribute name="fileName" type="string" use="optional" />
    <attribute name="provider" use="optional" default="LOCAL">
      <simpleType>
        <restriction base="string">
          <enumeration value="XML" />
          <enumeration value="SQL" />
          <enumeration value="CSV" />
          <enumeration value="EXCEL" />
          <enumeration value="LOCAL" />
        </restriction>
      </simpleType>
    </attribute>
    <attribute name="siteName" type="string" use="required" />
  </complexType>

  <complexType name="xTest">
    <sequence>
      <element name="description" type="tns:xDescription" minOccurs="0" maxOccurs="1" />
      <element name="step" type="tns:xStep" minOccurs="0" maxOccurs="unbounded" />
    </sequence>
    <attribute name="type" use="optional" default="XML">
      <simpleType>
        <restriction base="string">
          <enumeration value="XML" />
          <enumeration value="BDD" />
          <enumeration value="CSV" />
        </restriction>
      </simpleType>
    </attribute>
    <attribute name="name" type="string" use="required" />
    <attribute name="dataDriver" type="string" use="optional" />
    <attribute name="dataProvider" type="string" use="optional" />
    <attribute name="tagNames" type="string" use="optional" />
    <attribute name="linkId" type="string" use="optional" />
    <attribute name="timed" type="boolean" use="optional" default="false" />
    <attribute name="threshold" type="integer" use="optional" default="0" />
    <attribute name="active" type="boolean" use="optional" default="true" />
    <attribute name="os" type="string" use="optional" />
    <attribute name="contentKeys" type="string" use="optional" />
  </complexType>

  <complexType name="xDescription">
    <simpleContent>
      <extension base="string" />
    </simpleContent>
  </complexType>

  <complexType name="xStep">
    <sequence>
      <element name="parameter" type="tns:xParameter" minOccurs="0" maxOccurs="unbounded" />
      <element name="token" type="tns:xToken" minOccurs="0" maxOccurs="unbounded" />
      <element name="step" type="tns:xStep" minOccurs="0" maxOccurs="unbounded" />
    </sequence>
    <attribute name="name" type="string" use="required" />
    <attribute name="page" type="string" use="required" />
    <attribute name="type" use="required">
      <simpleType>
        <restriction base="string">
          <enumeration value="CALL" />
          <enumeration value="CLICK" />
          <enumeration value="EXISTS" />
          <enumeration value="FUNCTION" />
          <enumeration value="GESTURE" />
          <enumeration value="RETURN" />
          <enumeration value="SET" />
          <enumeration value="VALUE" />
          <enumeration value="GET" />
          <enumeration value="WAIT" />
          <enumeration value="WAIT_FOR" />
          <enumeration value="ATTRIBUTE" />
          <enumeration value="LOOP" />
          <enumeration value="BREAK" />
          <enumeration value="DEVICE" />
          <enumeration value="FORK" />
          <enumeration value="VISIBLE" />
          <enumeration value="VERIFY_COLOR" />
          <enumeration value="VERIFY_CONTRAST" />
          <enumeration value="WINDOW" />
          <enumeration value="EXECJS" />
          <enumeration value="COMPARE" />
          <enumeration value="STRING" />
          <enumeration value="MATH" />
          <enumeration value="MOUSE" />
          <enumeration value="CACHE" />
          <enumeration value="REPORT" />
          <enumeration value="SYNC" />
          <enumeration value="OPEN_PAGE" />
          <enumeration value="ADD_COOKIE" />
          <enumeration value="DELETE_COOKIE" />
          <enumeration value="DELETE_COOKIES" />
          <enumeration value="GET_COOKIE" />
          <enumeration value="GET_COOKIES" />
          <enumeration value="ADD_DEVICE" />
          <enumeration value="AT" />
          <enumeration value="HAS_FOCUS" />
          <enumeration value="ALIGN" />
          <enumeration value="PERFECTO_SCRIPT" />
          <enumeration value="ELSE" />
          <enumeration value="STATE" />
          <enumeration value="ALERT" />
          <enumeration value="SQL" />
          <enumeration value="OPERATOR" />
          <enumeration value="NAVIGATE" />
          <enumeration value="VISUAL" />
        </restriction>
      </simpleType>
    </attribute>
    <attribute name="active" type="boolean" use="optional" default="true" />
    <attribute name="linkId" type="string" use="optional" />
    <attribute name="os" type="string" use="optional" />
    <attribute name="poi" type="string" use="optional" />
    <attribute name="threshold" type="integer" use="optional" default="0" />
    <attribute name="timed" type="boolean" use="optional" default="false" />
    <attribute name="inverse" type="boolean" use="optional" default="false" />
    <attribute name="startAt" type="boolean" use="optional" default="false" />
    <attribute name="breakpoint" type="boolean" use="optional" default="false" />
    <attribute name="wait" type="integer" use="optional" default="0" />
    <attribute name="failureMode" use="optional" default="ERROR">
      <simpleType>
        <restriction base="string">
          <enumeration value="ERROR" />
          <enumeration value="IGNORE" />
          <enumeration value="LOG_IGNORE" />
        </restriction>
      </simpleType>
    </attribute>

    <attribute name="validation" type="string" use="optional" />
    <attribute name="validationType" use="optional">
      <simpleType>
        <restriction base="string">
          <enumeration value="REGEX" />
          <enumeration value="EMPTY" />
          <enumeration value="NOT_EMPTY" />
        </restriction>
      </simpleType>
    </attribute>
    <attribute name="context" type="string" use="optional" />
    <attribute name="device" type="string" use="optional" />
    <attribute name="tagNames" type="string" use="optional" />
  </complexType>

  <complexType name="xToken">
    <attribute name="type" use="required">
      <simpleType>
        <restriction base="string">
          <enumeration value="STATIC" />
          <enumeration value="CONTEXT" />
          <enumeration value="PROPERTY" />
          <enumeration value="CONTENT" />
          <enumeration value="DATA" />
        </restriction>
      </simpleType>
    </attribute>
    <attribute name="value" type="string" use="required" />
    <attribute name="name" type="string" use="required" />
  </complexType>

  <complexType name="xParameter">
    <sequence>
      <element name="token" type="tns:xToken" minOccurs="0" maxOccurs="unbounded" />
    </sequence>
    <attribute name="type" use="required">
      <simpleType>
        <restriction base="string">
          <enumeration value="STATIC" />
          <enumeration value="CONTEXT" />
          <enumeration value="PROPERTY" />
          <enumeration value="CONTENT" />
          <enumeration value="DATA" />
          <enumeration value="FILE" />
        </restriction>
      </simpleType>
    </attribute>
    <attribute name="value" type="string" use="required" />
    <attribute name="name" type="string" use="optional" />
  </complexType>

	<complexType name="xObjectDeviceCapability">
		<sequence>
			<element name="capabilities" type="tns:xCapabilities" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
		<attribute name="name" type="string" use="required" />
	</complexType>

	<complexType name="xCapabilities">
		<sequence>
			<element name="options" type="tns:xOptions" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
		<attribute name="factoryName" use="required">
			<simpleType>
				<restriction base="string">
					<enumeration value="ChromeOptions" />
					<enumeration value="FirefoxProfile"/>
			</restriction>
			</simpleType>
		</attribute>
	</complexType>
	
	<complexType name="xOptions">
		<simpleContent>
			<extension base="string">
				<attribute name="name" type="string" use="required" />
				<attribute name="key" type="string" use="optional" />
		 </extension>
		</simpleContent>
	</complexType>
</schema>
