framework/src/org/xframium/page/keyWord/provider/xsd/testRegistry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="http://xframium.org/xsl/xs3p.xsl"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.xframium.org/testRegistry" xmlns:tns="http://www.xframium.org/testRegistry" elementFormDefault="qualified">
  <annotation>
    <documentation xml:lang="en"> xFramium Test Registry Definition
    </documentation>
  </annotation>
  <element name="suite" type="tns:RegistryRoot" />
  <complexType name="RegistryRoot">
    <sequence>
      <element name="import" type="tns:Import" minOccurs="0" maxOccurs="unbounded" />
      <element name="model" type="tns:Model" minOccurs="0" maxOccurs="1" />
      <element name="test" type="tns:Test" minOccurs="0" maxOccurs="unbounded" />
      <element name="function" type="tns:xFunction" minOccurs="0" maxOccurs="unbounded" />
    </sequence>
  </complexType>
  <complexType name="Import">
    <attribute name="fileName" type="string" use="required" />
    <attribute name="includeTests" type="boolean" use="optional" default="true" />
    <attribute name="includeFunctions" type="boolean" use="optional" default="true" />
  </complexType>
  <complexType name="Model">
    <sequence>
      <element name="page" type="tns:Page" minOccurs="1" maxOccurs="unbounded" />
    </sequence>
  </complexType>
  <complexType name="Page">
    <attribute name="site" type="string" use="optional" />
    <attribute name="name" type="string" use="required" />
    <attribute name="class" type="string" use="optional" />
  </complexType>
  <complexType name="Test">
    <sequence>
      <element name="description" type="tns:Description" minOccurs="0" maxOccurs="1" />
      <element name="step" type="tns:Step" minOccurs="1" maxOccurs="unbounded" />
    </sequence>
    <attribute name="name" type="string" use="required" />
    <attribute name="dataDriver" type="string" use="optional" />
    <attribute name="dataProvider" type="string" use="optional" />
    <attribute name="tagNames" type="string" use="optional" />
    <attribute name="linkId" type="string" use="optional" />
    <attribute name="timed" type="boolean" use="optional" default="false" />
    <attribute name="threshold" type="int" use="optional" default="0" />
    <attribute name="active" type="boolean" use="optional" default="true" />
    <attribute name="os" type="string" use="optional" />
    <attribute name="contentKeys" type="string" use="optional" />
    <attribute name="deviceTags" type="string" use="optional" />
    <attribute name="count" type="int" use="optional" default="0" />
    <attribute name="priority" type="int" use="optional" default="0" />
    <attribute name="severity" type="int" use="optional" default="0" />
    <attribute name="reliesOn" type="string" use="optional" />
    <attribute name="trace" use="optional" default="OFF">
      <simpleType>
        <restriction base="string">
          <enumeration value="ON" />
          <enumeration value="OFF" />
          <enumeration value="DISABLE" />
        </restriction>
      </simpleType>
    </attribute>
  </complexType>
  <complexType name="xFunction">
    <sequence>
      <element name="description" type="tns:Description" minOccurs="0" maxOccurs="1" />
      <element name="parameter" type="tns:Parameter" minOccurs="0" maxOccurs="unbounded" />
      <element name="step" type="tns:Step" minOccurs="1" maxOccurs="unbounded" />
    </sequence>
    <attribute name="name" type="string" use="required" />
    <attribute name="dataProvider" type="string" use="optional" />
    <attribute name="linkId" type="string" use="optional" />
    <attribute name="active" type="boolean" use="optional" default="true" />
    <attribute name="mode" use="optional" default="function">
      <simpleType>
        <restriction base="string">
          <enumeration value="function" />
          <enumeration value="module" />
        </restriction>
      </simpleType>
    </attribute>
    <attribute name="inputPage" type="string" use="optional" />
    <attribute name="outputPage" type="string" use="optional" />
    <attribute name="operations" type="string" use="optional" />
  </complexType>
  <complexType name="Description">
    <simpleContent>
      <extension base="string" />
    </simpleContent>
  </complexType>
  <complexType name="Step">
    <sequence>
      <element name="reporting" type="tns:Reporting" minOccurs="0" maxOccurs="1" />
      <element name="parameter" type="tns:Parameter" minOccurs="0" maxOccurs="unbounded" />
      <element name="token" type="tns:Token" minOccurs="0" maxOccurs="unbounded" />
      <element name="step" type="tns:Step" minOccurs="0" maxOccurs="unbounded" />
    </sequence>
    <attribute name="name" type="string" use="required" />
    <attribute name="page" type="string" use="optional" />
    <attribute name="site" type="string" use="optional" />
    <attribute name="type" use="required">
      <simpleType>
        <restriction base="string">
          <enumeration value="CALL2" />
          <enumeration value="CLICK" />
          <enumeration value="EXISTS" />
          <enumeration value="FUNCTION" />
          <enumeration value="GESTURE" />
          <enumeration value="RETURN" />
          <enumeration value="SET" />
          <enumeration value="GET" />
          <enumeration value="WAIT" />
          <enumeration value="WAIT_FOR" />
          <enumeration value="ATTRIBUTE" />
          <enumeration value="LOOP" />
          <enumeration value="BREAK" />
          <enumeration value="DEVICE" />
          <enumeration value="FORK" />
          <enumeration value="VISIBLE" />
          <enumeration value="VERIFY_COLOR" />
          <enumeration value="VERIFY_CONTRAST" />
          <enumeration value="WINDOW" />
          <enumeration value="EXECJS" />
          <enumeration value="EXECWS" />
          <enumeration value="COMPARE2" />
          <enumeration value="STRING2" />
          <enumeration value="MATH" />
          <enumeration value="MOUSE" />
          <enumeration value="CACHE" />
          <enumeration value="REPORT" />
          <enumeration value="ADD_DEVICE" />
          <enumeration value="HAS_FOCUS" />
          <enumeration value="ALIGN" />
          <enumeration value="SYNC" />
          <enumeration value="AT" />
          <enumeration value="ELSE" />
          <enumeration value="STATE" />
          <enumeration value="ALERT" />
          <enumeration value="SQL" />
          <enumeration value="OPERATOR" />
          <enumeration value="NAVIGATE" />
          <enumeration value="VISUAL" />
          <enumeration value="SET_CONTENT_KEY" />
          <enumeration value="BROWSER" />
          <enumeration value="IS_ENABLED" />
          <enumeration value="ENABLED" />
          <enumeration value="COMMAND" />
          <enumeration value="EMAIL" />
          <enumeration value="APPLICATION" />
          <enumeration value="RANDOM" />
          <enumeration value="FLOW" />
          <enumeration value="CONSOLE" />
          <enumeration value="DATE" />
          <enumeration value="DEBUG" />
          <enumeration value="GHERKIN" />
        </restriction>
      </simpleType>
    </attribute>
    <attribute name="active" type="boolean" use="optional" default="true" />
    <attribute name="linkId" type="string" use="optional" />
    <attribute name="os" type="string" use="optional" />
    <attribute name="browser" type="string" use="optional" />
    <attribute name="poi" type="string" use="optional" />
    <attribute name="threshold" type="integer" use="optional" default="0" />
    <attribute name="timed" type="boolean" use="optional" default="false" />
    <attribute name="inverse" type="boolean" use="optional" default="false" />
    <attribute name="startAt" type="boolean" use="optional" default="false" />
    <attribute name="breakpoint" type="boolean" use="optional" default="false" />
    <attribute name="wait" type="integer" use="optional" default="0" />
    <attribute name="failureMode" use="optional" default="ERROR">
      <simpleType>
        <restriction base="string">
          <enumeration value="ERROR" />
          <enumeration value="FAILURE" />
          <enumeration value="IGNORE" />
          <enumeration value="LOG_IGNORE" />
        </restriction>
      </simpleType>
    </attribute>
    <attribute name="validation" type="string" use="optional" />
    <attribute name="validationType" use="optional">
      <simpleType>
        <restriction base="string">
          <enumeration value="REGEX" />
          <enumeration value="EMPTY" />
          <enumeration value="NOT_EMPTY" />
        </restriction>
      </simpleType>
    </attribute>
    <attribute name="context" type="string" use="optional" />
    <attribute name="device" type="string" use="optional" />
    <attribute name="tagNames" type="string" use="optional" />
    <attribute name="deviceTags" type="string" use="optional" />
    <attribute name="version" type="string" use="optional" />
    <attribute name="appContext" type="string" use="optional" />
    <attribute name="waitFor" type="string" use="optional" />
    <attribute name="trace" type="boolean" use="optional" default="false" />
    <attribute name="allowMultiple" type="boolean" use="optional" default="false" />
  </complexType>
  
  <complexType name="Reporting">
    <sequence>
      <element name="token" type="tns:Token" minOccurs="0" maxOccurs="unbounded" />
    </sequence>
    <attribute name="success" type="string" use="optional" />
    <attribute name="failure" type="string" use="optional" />
  </complexType>
  
  <complexType name="Token">
    <attribute name="type" use="optional">
      <simpleType>
        <restriction base="string">
          <enumeration value="CONTEXT" />
          <enumeration value="PROPERTY" />
          <enumeration value="STATIC" />
          <enumeration value="CONTENT" />
          <enumeration value="DATA" />
        </restriction>
      </simpleType>
    </attribute>
    <attribute name="value" type="string" use="required" />
    <attribute name="name" type="string" use="required" />
  </complexType>
  <complexType name="Parameter">
    <sequence>
      <element name="token" type="tns:Token" minOccurs="0" maxOccurs="unbounded" />
    </sequence>
    <attribute name="type" use="optional">
      <simpleType>
        <restriction base="string">
          <enumeration value="CONTEXT" />
          <enumeration value="PROPERTY" />
          <enumeration value="STATIC" />
          <enumeration value="CONTENT" />
          <enumeration value="DATA" />
          <enumeration value="FILE" />
        </restriction>
      </simpleType>
    </attribute>
    <attribute name="value" type="string" use="required" />
    <attribute name="name" type="string" use="optional" />
    <attribute name="usage" type="string" use="optional" />
  </complexType>
</schema>